/* Убираем стандартный скроллбар */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Устанавливаем стили для скроллбара на элементе при наведении */
  .element:hover::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
    height: 10px; /* Высота скроллбара */
  }
  
  /* Устанавливаем стили для скроллбара внутри элемента при наведении */
  .element:hover::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Цвет ползунка скроллбара */
  }

